* {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

/* DEBUG */

div {
    //border: 1px solid #000000;
	padding: 10px;
}
/* END DEBUG */

input[type="text"], input[type="password"], select {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding: 3px;
	border: solid 1px #dcdcdc;
	transition: box-shadow 0.3s, border 0.3s;
	width: 100%;
}
 
 input[type="text"]:focus,
 input[type="text"].focus {
	border: solid 1px #707070;
	box-shadow: 0 0 5px 1px #969696;
}

#container {
	float: center;
	margin-top: 50px;
	width: 80%;
}

#left {

	position: absolute;
	float: left;
	float: left;
	left: 100px;
	width: 20%;
}

#right
{
	float: right;
	width: 55%;
}

#nav {
	left: 0px;
	width: 95%;
	
	border-radius: 15px;
	border: 3px solid #AAAAFF;
}

#header {
  /* position is static by default */
}


#content-box {
	margin-top: 50 px;
  /* position is static by default */
  
  	border: 3px solid #AAAAFF;
	border-radius: 25px;
}

#footer {
	position: fixed;
	background-color: white;
	width: 100%;
	bottom: 2px;
	height: 5%;
	text-align: center;
}

#userdata {
  position: fixed;
  right: 3px;
  top: 3px;
  background-color: yellow;
  border: 3px solid #73AD21;
  text-align: right;
  padding-right: 4 px;
}

body {
  margin-bottom: 120px;
}

h3
{
	padding-top: 20px;
	padding-left: 3px;
	font-family: sans-serif;
	font-size: 14pt;
}

h2
{
	font-family: sans-serif;
	font-size: 14pt;
	text-align: center;
}

h1
{
	font-family: sans-serif;
	font-size: 18pt;
	text-align: center;
}

#logo
{
	width: 95%;
}

#logo-img
{
	width: 95%;
}

.table-header
{
	font-weight: bold;
}

p {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14pt;
}

.employees {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.employees td, .employees th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

.employees tr:nth-child(even){background-color: #f2f2f2}

.employees tr:hover {background-color: #ddd;}

.employee-editor {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    //width: 100%;
}

.employee-editor td, .employee-editor th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

.employee-editor tr:nth-child(even){background-color: #f2f2f2}

.employee-editor tr:hover {background-color: #ddd;}
